body{
    /* background-color:#acbebe; */
    
}
h1{
margin-bottom: 50px;
border : 1px solid black;


}
h2, h3
{
    text-align:center;
    background-color: #acbebe;
}
h3
{
    background-color: #808080;
    color:white;
    font-size:1.5em;
    padding: 1%;
    margin-bottom:0px;
}
.news p
{
    /* background-color :#f4f4ef; */
    padding: 5%;
    border: 1px solid black;
    
}
.news
{
    width:80%;
    margin:auto;
}
.news form{
    background-color:#8e9b97;
    margin-bottom:2em;
    padding:1%;
    border: 1px solid black;
    
}
.news h2{
    background-color:#acbebe;
    padding:1%;
    border: 1px solid black;
}

.news h3 {
    background-color:#20232a;
    padding:1%;
    border: 1px solid black;
}
#nav{
    background-color:#20232a;
    color: #f4f4ef;
    height: 40px;
    line-height: 20px;
    margin-bottom: 15px;
    

}
#hnav{
    color: #f4f4ef;;
}
#nav ul{
    list-style: none;
    
}
#user{
    font-size: 18px;
    text-transform: uppercase;
    color: #a01d26;   
}
a
{   
    text-decoration: none;
    color: #f4f4ef;
    margin-right: 25px;
    margin-left: 10px;
}
a:hover{
    text-decoration: none;
    color: #a01d26;
}
#pError{
    text-align: center;
}
#comm{
    font-size:12px;
    float:right;
    background-color: rgb(33, 18, 144);
    padding: 3px;
    border-radius: 10px;
    
}
#delete{
    font-size:16px;
    background-color: #a01d26;
    padding: 3px;
    border-radius: 10px;
   
}

#back2{
    font-size:16px;
    background-color: rgb(49, 49, 49);
    padding: 3px;
    border-radius: 10px;
    
}
#back{
    font-size:12px;

    margin-left: -25px;
    background-color: rgb(135, 93, 93);
    padding: 10px;
    border-radius: 10px;
    
}
#commentaire{
    background-color:#808080; 
}
#edition{
    background-color:#808080;  
}
#co, #reg{
    background-color: #a01d26;
    padding: 5px;
    border-radius: 6px; 
    font-size: 14px;

}

#myBtn{
    float: right;
    color: red;
}
#comBtn{
    color: blue;
}
.scroll {
  
    background-color: gainsboro ;
    color: #a01d26;
    padding: 5px;
    border-radius: 25px;

}